.App {
  text-align: center;
  background-color: white;
}

.App-header {
  padding: 16px;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1000px;
  max-width: 1000px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.title {
  font-size: 20px;
  margin: 0;
}

.cart-container {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.cart {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.cart-count {
  position: absolute;
  right: 38px;
  top: -10px;
  color: black;
  background-color: tomato;
  font-size: 12px;
  border-radius: 9999px;
  padding: 1px 5px 1px 5px;
  font-weight: bold;
  border: 1.5px solid black;
}
